    [submodule "db_models"]
	path = db_models
	url = https://github.com/semantic-search/db_models

	[submodule "docker-unoconv-webservice"]
	path = docker-unoconv-webservice
	url = https://github.com/semantic-search/docker-unoconv-webservice.git