pypdf2
azure-storage-blob
mongoengine
pymongo
python-dotenv
cairosvg
python-magic
kafka-python
redis
textract
pyyaml
ExifRead
fastapi
python-multipart
uvicorn
wget
html2text
pyfiglet
requests
celery==4.0.0
flower